.index{
    padding: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
  
}
.index ul li a{
    color: black;
    text-decoration: none;
}
.index button{
    background-color: white;
    color: black;
    border: 2px solid #a1a1a1;
    font-size: 20px;
    border-radius: 12px;
}
.index button a{
    color: black;
    text-decoration: none;
}
.index button:hover{
       
}
.new{
    padding: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.show{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin: 10px;
}
.card ul li a{
    color: black;
    text-decoration: none;
} 
.card-body a{
    color: black;
    text-decoration: none;
}
.card-body button{
    background-color:rgb(255, 204, 95);
    color:black ;
    border: 2px solid #a1a1a1;
    font-size: 15px;
    border-radius: 11px;
} 

.card-body button:hover{box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)
    , 0 17px 40px 0 rgba(0,0,0,0.19);}
.edit{
    padding: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.show2{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index2{
    margin: 5%; 
    display: grid;
    justify-content: center;
    align-items: center;
}
.index2 a{
    color: black;

}
.index2 button a{
    text-decoration: none;
}
.index2 button{
    background-color:rgb(255, 204, 95);
    color:black ;
    border: 2px solid #a1a1a1;
    font-size: 15px;
    border-radius: 11px;
}
.new2{
    padding: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.signup{
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.signin{
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.useredit{
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.gshow{
    margin: 5%;
    display: grid;
    justify-content: center;
    align-items: center;

}