.index{
    padding: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
  
}
.index ul li a{
    color: black;
    text-decoration: none;
}
.index button a{
    color: black;
    text-decoration: none;
}
.index button {
    display: inline-block;
    border-radius: 20px;
    background-color: #ffcd29;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .index button a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .index button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .index button:hover a{
    padding-right: 25px;
  }
  
  .index button:hover a:after {
    opacity: 1;
    right: 0;
  }
.new{
    padding: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.show{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin: 10px;
}
.card ul li a{
    color: black;
    text-decoration: none;
} 
.card-body a{
    color: black;
    text-decoration: none;
}
.card-body button{
    background-color:rgb(255, 204, 95);
    color:black ;
    border: 2px solid #a1a1a1;
    font-size: 15px;
    border-radius: 11px;
} 

.card-body button:hover{box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)
    , 0 17px 40px 0 rgba(0,0,0,0.19);}
.edit{
    padding: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.show2{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index2{
    margin: 5%; 
    display: grid;
    justify-content: center;
    align-items: center;
}
.index2 a{
    color: black;

}
.index2 button a{
    text-decoration: none;
}
.index2 button{
    background-color:rgb(255, 204, 95);
    color:black ;
    border: 2px solid #a1a1a1;
    font-size: 15px;
    border-radius: 11px;
}
.new2{
    padding: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.signup{
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.signin{
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.useredit{
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.gshow{
    margin: 5%;
    display: grid;
    justify-content: center;
    align-items: center;

}